<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @position.company_name %>
</p>

<p>
  <strong>Position name:</strong>
  <%= @position.position_name %>
</p>

<p>
  <strong>Position description url:</strong>
  <%= @position.position_description_url %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @position.company_phone %>
</p>

<p>
  <strong>Company address:</strong>
  <%= @position.company_address %>
</p>

<p>
  <strong>Company email:</strong>
  <%= @position.company_email %>
</p>

<p>
  <strong>Company contact:</strong>
  <%= @position.company_contact %>
</p>

<p>
  <strong>Appication submitted:</strong>
  <%= @position.appication_submitted %>
</p>

<p>
  <strong>Cover letter submitted:</strong>
  <%= @position.cover_letter_submitted %>
</p>

<p>
  <strong>Glassdoor review:</strong>
  <%= @position.glassdoor_review %>
</p>

<p>
  <strong>Status:</strong>
  <%= @position.status %>
</p>

<p>
  <strong>Date application submitted:</strong>
  <%= @position.date_application_submitted %>
</p>

<p>
  <strong>Staffing agency name:</strong>
  <%= @position.staffing_agency_name %>
</p>

<p>
  <strong>Staffing agency phone:</strong>
  <%= @position.staffing_agency_phone %>
</p>

<p>
  <strong>Staffing agency address:</strong>
  <%= @position.staffing_agency_address %>
</p>

<p>
  <strong>Staffing agency contact:</strong>
  <%= @position.staffing_agency_contact %>
</p>

<p>
  <strong>Staffing agency fax:</strong>
  <%= @position.staffing_agency_fax %>
</p>

<p>
  <strong>Staffing agency notes:</strong>
  <%= @position.staffing_agency_notes %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
